.learning, .information{
    margin:1rem 2vw;
	background-color: aquamarine;
}

.learning section, .information section{
    border:1px solid color#415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}

.learning span, .information span {
    background-color: aqua;
    color: #415541;
    display: block;
    text-align: center;
    padding: .75rem 0;

}

.learning p, .information p{
    padding: 10px;
}


body {
    font: bold;
    color: rgb(0, 128, 255);

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2%;
	

	border: 1px solid rgba(0, 0, 0, 0.1);
}

header span {
	padding-right: 10%;
}

header,
main {
	/* display: grid; */
	/* grid-template-columns: 60% 40%; */
	/* grid-gap: 5%; */
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	border-bottom: 1px solid;
	text-align: center;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	/* max-width: 800px; */
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:wavy underline;
}

.active {
	color: yellow;
}
 
main a{
	text-decoration: none;
	list-style: none;
}

