@media (min-width: 500px) {
	nav ul {
        display: flex;   
	}
	nav ul li {
		flex: 1 1 100%;
	}





footer {
	margin-top: 1rem;
	border-top: 1px solid;
	font-size: smaller;
	text-align: center;
}


main{
    display: grid;
    grid-template-columns: 30% 70%;

}

.learning{
    grid-column: 1/2;
    background-color: aquamarine;
    text-align: center;
    
}

.information {
    grid-column: 2/3;
    background-color: aquamarine;
    text-align: center;
}

.wdd_title{
	grid-column: 1/3;
    padding: 2rem;
}

}